
<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'joel.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joel Pankito</h2>
      <br />
      <p>
        Joel Pankito is a software Engineer gaining the skills of programing with multiple languages like HTML, CSS, Javascript, Ruby, and much more. What make Joel unique is the fact that he has a background Electrical Engineer.
      </p>
    </div>
  </div>
  <br class="clear" />



</div>

<br class="clear" />
<br />
<br />
<br />
<br />